.analyze-page {
    position: absolute;
    min-height: 100%;
    width: 100%;
    background-color: #1b1b1d;

    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -16px;
        margin-top: -16px;
    }

    .left-nav {
        position: fixed;
        top: 60px;
        height: calc(100% - 60px);
        width: 160px;
        padding-top: 56px;
        background-color: #242526;
        z-index: 1;

        .ant-anchor-ink:before {
            display: none;
        }

        .ant-anchor-link {
            padding: 0 0 0px 0px;
            border-right: 2px solid transparent;

            a {
                font-size: 16px;
                font-weight: bold;
                color: #ffffffb3;
            }
        }

        .ant-anchor-link-active {
            color: #ffe895;
            border-right: 2px solid #ffe895;

            a {
                color: #ffe895
            }
        }

        .sec-nav {
            display: block;
            margin: 30px 0;
            padding: 0 5px;
            padding-left: 26px;
        }
    }

    .content-container {
        position: absolute;
        width: 100%;
        padding: 0 160px;
        margin-top: 56px;
        min-height: 100%;
        background-color: #1b1b1d;

        .analyze-content {
            width: 1536px;
            padding: 0 24px;
            margin: 0 auto;

            section {
                width: 100%;
                padding: 32px 0;

                h1.title {
                    height: 108px;
                    line-height: 108px;
                    margin-bottom: 10px;
                    color: #ffe895;
                    font-size: 48px;
                    font-weight: bold;
                    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

                    img {
                        margin-right: 8px;
                        height: 52px;
                        width: 52px;
                        border-radius: 5px;
                    }

                    a {
                        vertical-align: middle;

                        &:hover {
                            color: #ffe895;
                            text-decoration: underline;
                        }
                    }

                    .star {
                        float: right;
                        height: 100%;
                        padding-top: 4px;
                        font-size: 30px;
                    }
                }

                h2.sec-title {
                    font-size: 36px;
                    height: 45px;
                    margin: 64px 0 16px 0;
                    color: #ffe895;
                    font-weight: bold;
                    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                }

                h3 {
                    margin: 48px 0 16px 0;
                    color: #e3e3e3;
                    height: 40px;
                    font-size: 20px;
                    font-weight: bold;

                    &.top {
                        margin: 0;
                    }
                }

                p {
                    color: #7c7c7c;
                    font-size: 16px;
                    margin-bottom: 16px;
                }
            }
        }
    }
}