.compare-search {
    position: fixed;
    top: 60px;
    height: 56px;
    width: 100%;
    padding: 8px 0 8px 192px;
    background-color: #222222;
    z-index: 1;
    color: #fff;


    .search-icon {
        font-size: 20px;
        line-height: 40px;
        vertical-align: middle
    }

    .repo1,
    .repo2 {
        display: inline-block;
        position: relative;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        margin-left: 8px;

        .auto-complete1,
        .auto-complete2 {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #222222;
            height: 40px;
            border: none;
            font-size: 18px;
            outline: none;
            width: 100%;

            .ant-select-selector,
            .ant-select-single:not(.ant-select-customize-input).ant-select-selector {
                color: #fff;
                box-shadow: none !important;
                background-color: #222222;
                height: 40px !important;
            }

            .ant-select-selection-search {
                left: 0px;
                width: 100%;
                line-height: 40px;
            }

            &.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
                padding: 0 !important;
                border: none;
            }
        }
    }

    .repo2-empty {
        display: inline-block;
        position: relative;
        height: 40px;
        width: 185px;
        line-height: 38px;
        font-size: 18px;
        margin-left: 8px;
        border: 1px dashed #ffffff7f;
        border-radius: 6px;

        .plus-icon {
            display: inline-block;
            margin-left: 10px;
            height: 38px;
            color: #a3a3a3;
        }

        .auto-complete2-empty {
            position: absolute;
            top: 4px;
            left: 30px;
            width: 190px;
            margin-left: 10px;
            height: 38px;
            font-size: 18px;
            outline: none;

            .ant-select-selector,
            .ant-select-single:not(.ant-select-customize-input).ant-select-selector {
                color: #fff;
                box-shadow: none !important;
                background-color: #222222;

                .ant-select-selection-search {
                    height: 30px;
                }

                .ant-select-selection-search-input {
                    height: 30px;
                }
            }

            .ant-select-selection-search {
                left: 0px;
                width: 100%;
            }

            &.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
                padding: 0 !important;
                border: none;
            }
        }
    }

    .vs {
        color: #a3a3a3;
        padding: 0 8px 0 10px;
        font-size: 20px;
        font-weight: bold;
    }

    .close-vs {
        display: inline-block;
        font-size: 16px;
        color: #a3a3a3;
        margin-left: 15px;
        font-weight: bold;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

}

.ACpopup {
    width: auto !important;
}