.search-bar .loading {
    position: absolute;
    width: 540px;
    height: 200px;
    padding: 80px 50px;
    text-align: center;
    background-color: rgb(18, 18, 18);
    z-index: 1;
    border-radius: 8px;
}