.pr-history {
    &.compare-mode {
        .container {
            .graph {
                height: 400px;
            }
        }
    }

    .container {
        margin-top: 26px;
        .graph {
            height: 550px;
        }
    }
}