.fr-onethree {
    height: 92px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    padding: 8px 16px;
    margin-top: 8px;

    .fr13-left {
        display: inline-block;
        padding: 7px 0;
        width: 96px;

        div {
            &.orange {
                color: #f58a00;
            }

            &.blue {
                color: #309cf2
            }

            height: 36px;
            line-height: 36px;
            font-weight: bold;
            font-size: 24px;
        }
    }

    .fr13-right {
        float: right;
        height: 74px;
        width: calc(100% - 96px);
    }
}

.fr-two {
    height: 212px;
    width: 100%;
    margin-top: 8px;

    .fr-two-lr {
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 6px;
        padding: 8px 16px;
        height: 100%;
        width: calc((100% - 8px) / 2);

        .OMOC {
            display: inline-block;
            margin-right: 16px;

            h6 {
                color: #7c7c7c;
                font-size: 14px;
                height: 21px;
                line-height: 21px;
                margin-bottom: 0px;
            }

            div {
                &.green {
                    color: #63c16d;
                }

                &.purple {
                    color: #904dc9;
                }

                font-size: 24px;
                font-weight: bold;
                height: 36px;
                line-height: 36px;
            }
        }

        .fr2-down {
            height: 105px;
            width: 396px;
        }
    }
}